.example-container {
    background-color:white ;
   }
   
   .example-sidenav-content {
     padding-left:5%;
     padding-right:1%;
   }
   .example-sidenav-content button {
     position: absolute;
     top:0;
     left:0;
   }
   
   .example-sidenav {
     padding: 20px;
   }

   .nav-menu{
     margin-left: 10px;
   }

