<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div id="user-jobs-menu" fxLayout="column" fxLayoutAlign="space-between center" name="fontStyle"
            aria-label="Font Style">
            <mat-button-toggle (click)="isRequestJob=true">
                Request Job
            </mat-button-toggle>
            <mat-button-toggle (click)="isRequestJob=false">
                View Jobs
            </mat-button-toggle>
        </div>

    </mat-drawer>

    <div class="example-sidenav-content">
   
            <button type="button" mat-button (click)="drawer.toggle()">
                <span *ngIf="!isShowMoreActive" class="material-icons" (click)="isShowMoreActive=true">
                    read_more
                </span>
                <span *ngIf="isShowMoreActive" #showLess class="material-icons" (click)="isShowMoreActive=false">
                    unfold_less
                </span>
            </button>
            <!-- <app-request-job></app-request-job> -->
            <!-- <app-update-user-profile *ngIf="isUserProfile"> </app-update-user-profile> 
            <app-update-user-account *ngIf="!isUserProfile"></app-update-user-account> -->
            <app-view-jobs></app-view-jobs>

    </div>
</mat-drawer-container>