.example-container {
    background-color:white ;
     margin: auto;
     margin-top: 30px;
     width: 98%;
     height: 45rem;
   }
   
   .example-sidenav-content {
     padding-left:5%;
     padding-right:1%;
   }
   .example-sidenav-content button {
     position: absolute;
     top:0;
     left:0;
   }
   
   .example-sidenav {
     padding: 20px;
   }

#user-jobs-menu mat-button-toggle {
    width: 200px;
}

