.mat-tab-group {
    margin-bottom: 48px;
}
h1{
   text-align: center;
    margin: 0;
    color: #117864;
    font-size: 25px;
    font-weight: 600;
    line-height: 7;
}

p{
    padding-left: 5%;
    padding-right: 5%;
}
#notification{
    text-align: center;
    margin-top: 15%;
    color: #117864;
    font-size: 25px;
    font-weight: 600;
    line-height: 7; 
}