<mat-card  fxLayout="column" fxLayoutAlign="space-around center" >
    <mat-card-header>
        Review
    </mat-card-header>

    <div xLayout="row" fxLayoutAlign="center">
        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
    </div>

</mat-card>
