.page {
    width: 100%;
    height:94%;
  }
  
.slide-nav-content{
    // display: flex; // position in center
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
.slide-nav-menu {
    width: 5%;
    background-color: #F5F5F5;
    text-align: center;
    overflow: hidden;
  }

#top-bar{
    //   background-color: #7f9a77;
    background-color: #E5DED4;
    height: 6%;
  } 

#menu-icon{
      cursor: pointer;
  }

#menu-icon:hover{
   color: white;
  }

#brand{
    font-family: 'Cairo', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.item{
margin: 20%;
}

.item:hover{
    cursor: pointer;
    color: #CC926D;
}
.menu-icon{
    font-size: 30px;
}
.active{
    color: #CC926D;
}