<div id="header-2-text" fxLayout="row" fxLayoutAlign="center center">
  <p>Now, let's finish configure you're Profile</p>
</div>

<div id="select-role-area">
  <p>In which purpose do you want to use this app </p>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button name="userRole" [value]="2" (change)="setIsJobRequesterValue($event)" >To find jobs</mat-radio-button>
    <mat-radio-button name="userRole1" [value]="3" (change)="setIsJobRequesterValue($event)">To find people for my job</mat-radio-button>
    <mat-radio-button name="userRole2" [value]="4" (change)="setIsJobRequesterValue($event)">Both</mat-radio-button>
    
  </mat-radio-group>
</div>


<mat-stepper linear #stepper>
   <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form id="about_user_profile_form" [formGroup]="firstFormGroup" fxLayout="column" fxLayoutAlign="center center"> 
      <ng-template matStepLabel>About you</ng-template>
      <mat-form-field appearance="fill">
        <mat-label >First Name</mat-label>
        <input  id="firstName" matInput  formControlName="firstName" placeholder="John" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input id="lastName" matInput formControlName="lastName" placeholder="Smith" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" placeholder="+40722558821" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Adress</mat-label>
        <input matInput formControlName="adress" placeholder="FishHouse Avenue, 28, Watford, UK" >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Postcode</mat-label>
        <input matInput formControlName="postcode" placeholder="WD987TU" >
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup" fxLayout="column" fxLayoutAlign="center center">
      <ng-template matStepLabel>You're profession </ng-template>
      <p>Let's configure you're profession profile</p>
      <mat-form-field appearance="fill" *ngIf="isJobRequester">
        <mat-label >What is your main profession</mat-label>
        <mat-select  formControlName="mainProfession" required>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
        </mat-select>
      </mat-form-field>

       <mat-form-field appearance="fill" *ngIf="isJobRequester">
        <mat-label>Secundary professions</mat-label>
        <input matInput formControlName="secundaryProfession" placeholder="Carpenter, Electrician, etc">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Hobby/ Passtion</mat-label>
        <input formControlName="hobby"  matInput placeholder="Paintig, Fishing, etc">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fun fact about you</mat-label>
        <input formControlName="funFact" matInput placeholder="Paintig, Fishing, etc">
      </mat-form-field>
   <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      
      </div>
    </form>
  </mat-step> 

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p id="succes_message" fxLayout="column" fxLayoutAlign="center center">Youre profile sucessfully configured</p>

    <div fxLayoutAlign="center center">
      <mat-icon id="all_done_icon" aria-hidden="false" aria-label="Example home icon">done_all</mat-icon>
    </div>

    <br><br>
    <div id="butons_area"div fxLayout="row" fxLayoutAlign="space-evenly center">
      <div>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <mat-icon class="icon_inside" aria-hidden="false" aria-label="Example home icon">autorenew</mat-icon>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <mat-icon class="icon_inside">settings_backup_restore</mat-icon>
      </div>

      <div>
        <button (click)="finishUserConfiguation()" mat-button>Finish</button>
        <mat-icon class="icon_inside">done_outline</mat-icon>
      </div>

    </div>

  </mat-step>

</mat-stepper>