#header-2-text{
    color: #117864;
    font-size: 1.8rem;
    font-weight: 1000;
    line-height: 7;
}

.mat-stepper-horizontal {
	margin-top: 6px;
  }

.mat-form-field {
	margin-top: 20px;
  width: 400px;
  }

button{
    width: 120px;
    height: 30px;
    font-weight: 600;
}

#all_done_icon{
  font-size: 60px;
  color: #117864;
}

.icon_inside{
  font-size: 30px;
}

#succes_message{
  font-size: 25px;
}

#butons_area{
  margin-top: 80px;
}

#select-role-area{
  margin-left: 20px;
}
#select-role-area p{
  color: #117864;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px; 
}


.mat-radio-button ~ .mat-radio-button {
  margin-left: 20px;
}