#request_job_form mat-form-field{
width: 100%;
font-size: 90%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

 h5{
    color: #117864;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 800; 
    margin: 25px;
}

#is-negociabile-radio-btn {
    margin: 10px;
}
