
/*#region Chat List*/

#chat-list{
    height: 100%;
    position: fixed;
    width: 25%;
    overflow-y: auto; 
    background-color: #c6d1ca;
}

.chat-item{
    margin: 2%;
}

.chat-item:hover{
    cursor: pointer;
}

.chat-item:active{
    background-color: #c1d7d7;
}
/*#endregion */


/*#region Messages Side*/

#message-side{
margin-left: 26%;
width: 75%;
display:inline-block;
}

#message-list{
 margin-bottom: 8%;
 background-color: #c6d1ca;
}
#send-message-side {
    position: fixed;
    width: 100%;
    left: 26%;
    bottom: 0px;
    background-color: #c6d1ca; 
}

#send-icon{
    margin: 2%;
}

#send-message-input{
    width: 50%;
}

#send-message-icon:hover{
    cursor: pointer;
}

#send-icon:hover{
    cursor: pointer;
}

#send-icon:active{
    font-size: 20px;
}

.message-sent{
  border-radius: 10px;
  width: 50%;
  height: auto;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin:1%;
  margin-left: 48%;

}

.message-received{
    border-radius: 10px;
    height: auto;
    width: 50%;
    border: 2px solid  #ccc;
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px;
    margin:1%;
  }

/*#endregion */
