igx-avatar{
    width: 3.5rem;
    height: 3.5rem;
}

mat-drawer{
    width: 22%;
}

#send-message-icon:hover{
    cursor: pointer;
}

.chat-item{
    margin: 2%;
}

.chat-item:hover{
    cursor: pointer;
}

.chat-item:active{
    background-color: #c1d7d7;
}

#chat{
    height: 100%;
}

#chat-list{
    background-color: #e1eeee;
    width: 25%;
    overflow-y: scroll; 
    height:100%;
}

#chat-messages{
 width: 75%;
}

#send-icon:hover{
    cursor: pointer;
}

#send-icon:active{
    font-size: 20px;
}

#send-icon{
    margin: 2%;
}
#send-message-input{
    width: 40%;
}
