igx-avatar{
 
    width: 3.5rem;
    height: 3.5rem;
}

mat-drawer{
    width: 22%;
}

#chat-user-name{
  
}

.chat-item{
    margin-top: 2%;
    height: 6rem;
}

.chat-item:hover{
    cursor: pointer;
    background-color: #e0ebeb;
}
.chat-item:active{
    background-color: #c1d7d7;
}

mat-drawer-container{
width: 100%;
height: 100%;
}

mat-card{
    padding-top: 10%;
}
#send-message-content{
    position: fixed;
    top: 90%;
    width: 60%;
    height: 10%;
}
#send-message-input{
   //width: 60%;
}