<mat-card class="user-profile">
    <mat-card-header>
        <mat-card-title>{{userName}}</mat-card-title>
        <mat-card-subtitle>{{role}}</mat-card-subtitle>
        <mat-icon id="chat-icon" (click)="isChatVisible=true"> chat</mat-icon>
    </mat-card-header>

    <mat-card-content fxLayout="column">
        <div fxLayoutAlign="center center">
            <igx-avatar id="avatar" src="https://randomuser.me/api/portraits/men/1.jpg" [roundShape]="true"
                size="large">
            </igx-avatar>

        </div>


        <div id="description-content">
            <p>Email: {{email}} </p>
            <p>Address: {{address}} </p>
            <p>Profession: {{profession}}</p>
            <p>{{description}} </p>
        </div>

        <div id="review-content">
            <p>Nubmer of jobs finished: {{jobsFinished}}</p>

            <app-rating-star></app-rating-star>
        </div>

        <div>
            <p>Comments</p>
            <mat-card class="coments-content">
                <p>Add comment: </p>
                <mat-form-field id="leave-comment-input" class="example-full-width" appearance="fill">
                    <mat-label>Leave a comment</mat-label>
                    <textarea  matInput [(ngModel)]="contentForCommentToBeSent" ></textarea>
                  </mat-form-field>
                  <mat-button-toggle id="add-comment-btn"(click)="addComment()">
                    Add Comment
                </mat-button-toggle>
            </mat-card>
            <mat-card id="comment" class="coments-content" *ngFor="let comment of comments">
                <p id=comment_content>{{comment.author}}</p>
                <p id="comment_user_name">{{comment.body}}</p>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>
