.example-container {
    background-color:white ;
     margin: auto;
     margin-top: 30px;
     width: 98%;
     height: 45rem;
   }
   
   .example-sidenav-content {
     display: flex;
     height: 100%;
     align-items: center;
     justify-content: center;
   }
   .example-sidenav-content button {
     position: absolute;
     top:0;
     left:0;
   }
   
   .example-sidenav {
     padding: 20px;
   }

#user-update-menu mat-button-toggle {
    width: 200px;
}

.user-profile {
    height: 700px;
    width: 550px;
  }

#user_profile_form mat-form-field{
    width: 450px;
}

igx-avatar{
    margin: 20px;
}

#enableEditButton{
    margin: 10px;
}