<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div id="user-update-menu" fxLayout="column" fxLayoutAlign="space-between center" name="fontStyle"
            aria-label="Font Style">
            <mat-button-toggle (click)="isUserProfile=true">
                Profile
                <mat-icon>account_circle</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="isUserProfile=false">
                Account
                <mat-icon>lock</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle (click)="logout()">
                SignOut
                <span class="material-icons">
                    logout
                </span>
            </mat-button-toggle>
        </div>

    </mat-drawer>

    <div class="example-sidenav-content">
   
            <button type="button" mat-button (click)="drawer.toggle()">
                <span *ngIf="!isShowMoreActive" class="material-icons" (click)="isShowMoreActive=true">
                    read_more
                </span>
                <span *ngIf="isShowMoreActive" #showLess class="material-icons" (click)="isShowMoreActive=false">
                    unfold_less
                </span>
            </button>

            <app-update-user-profile *ngIf="isUserProfile"> </app-update-user-profile> 
            <app-update-user-account *ngIf="!isUserProfile"></app-update-user-account>

    </div>
</mat-drawer-container>