#search-input{
    margin-top: 2%;
    width: 20%;
}

#users-table{
width: 100%;
height: auto;
margin-top: 3%;
}

#contact-people-icon:hover{
    cursor: pointer;
}

#go-to-user-page-icon:hover{
    cursor: pointer;
}

.tabTitle{
    font-family: 'Cairo', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}
.search{
    position: relative;
    top: 10px;
    left: 10px;
}