#search-input{
    margin-top: 2%;
    width: 20%;
}

#users-table{
width: 100%;
height: auto;
margin-top: 3%;
}

#contact-people-icon:hover{
    cursor: pointer;
}

#go-to-user-page-icon:hover{
    cursor: pointer;
}