
    <mat-card id="account-mat-card">
        <!-- <mat-card-header id="login-header">
             <mat-card-title>
               <p> Login</p> </mat-card-title>
           </mat-card-header>
    
          <mat-card-content id="login-content" fxLayout="column" fxLayoutAlign="space-evenly center">
            <mat-form-field>
                <input  matInput placeholder="Email"  id="email" [(ngModel)]="email">
            </mat-form-field><br/>
    
            <mat-form-field>
                <input matInput placeholder="Password" type="password" id="password" [(ngModel)]="password">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions id="login-button">
          <button mat-button>Login</button>
        </mat-card-actions> 
  
        <mat-card-actions id="register-path" fxLayout="column" fxLayoutAlign="space-evenly center">
           <a href ='register'>Don't have account</a>
         </mat-card-actions> -->

         <!-- <span class="material-icons">
            vpn_key
        </span> -->
        <!-- <form id="user_profile_form" [formGroup]="editUserFormGroup" fxLayout="column"
        fxLayoutAlign="space-between center">
        <mat-button-toggle id="enableEditButton">
            <span class="material-icons">
                edit
            </span>
        </mat-button-toggle>
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" ng-init="John" placeholder="John" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" placeholder="Smith" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" placeholder="+40722558821" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Adress</mat-label>
            <input matInput formControlName="adress" placeholder="FishHouse Avenue, 28, Watford, UK"
                required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Postcode</mat-label>
            <input matInput formControlName="postcode" placeholder="WD987TU" required>
        </mat-form-field>       
  </form> -->

  <mat-tab-group mat-align-tabs="center">
     <mat-tab label="View Account Details">Home</mat-tab>
    <mat-tab label="Manage Password">Content 2</mat-tab>
    <mat-tab label="Settings">Content 3</mat-tab>
</mat-tab-group>
</mat-card>  