<mat-card id="account-mat-card">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Manage Account">
            <form id="user_profile_form" [formGroup]="editUserAccountFormGroup" fxLayout="column"
                fxLayoutAlign="space-between center">

                <mat-form-field appearance="fill">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="userName">
                    <button mat-button matSuffix mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <button mat-button matSuffix mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="isActive ? 'password' : 'text'" formControlName="password">
                    <button mat-button matSuffix mat-icon-button (click)="isEditPasswordActive=true">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button *ngIf="isActive" mat-button matSuffix mat-icon-button (click)="isActive=false">
                        <mat-icon>visibility</mat-icon>
                    </button>

                    <button *ngIf="!isActive" mat-button matSuffix mat-icon-button (click)="isActive=true">
                        <mat-icon>visibility_off</mat-icon>
                    </button>

                </mat-form-field>
                <mat-form-field *ngIf="isEditPasswordActive" appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" formControlName="confirmPassword">

                    <button *ngIf="isEditPasswordActive" mat-button matSuffix mat-icon-button
                        (click)="isEditPasswordActive=false">
                        <mat-icon>vertical_align_top</mat-icon>
                    </button>
                </mat-form-field>

                <mat-button-toggle id="EditUserProfile">
                    Update
                </mat-button-toggle>
            </form>
        </mat-tab>

        <mat-tab label="Settings">WIP</mat-tab>
    </mat-tab-group>
</mat-card>